@font-face {
    font-family: Montserrat;
    font-weight: bold;
    src: url(/assets/font/Montserrat-Bold.ttf);
  }
  
@font-face {
    font-family: Montserrat;
    font-weight: normal;
    font-style: italic;
    src: url(/assets/font/Montserrat-Italic.ttf);
  }

@font-face {
    font-family: Montserrat;
    font-weight: 400;
    src: url(/assets/font/Montserrat-Regular.ttf);
  }