@import 'font.css';

:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --secundariod: #007785;
    --gris: #757575;
    --gris-claro: #dfe9f3;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


/*SCROLL-->*/
.servicios, .main-nav, .formulario {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}
/*<--SCROLL*/


*, *:before, *:after {
    box-sizing: inherit;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1,h2,h3 {
    text-align: center;
}

body {
    font-size: 16px;
    background-image: linear-gradient(to top, var(--gris-claro) 0%, var(--blanco) 100%);
    font-family: 'Montserrat-Regular', sans-serif;
}

h1 {
    text-align: center;
    font-size: 2rem;
}

span {
    font-size: 2rem;
}



/*HERRAMIENTAS-->*/
.w-sm-100 {
    width: 100%;
}
@media (min-width: 768px) {
    .w-sm-100 {
        width: auto;
    }
}
.flex{
    display: flex;
}
.alinear-derecha {
    justify-content: flex-end;
}
/*<--HERRAMIENTAS*/



.titulo {
    font-family: 'Montserrat-Regular', cursive;
    font-weight: 100;
    font-size: 3.8rem;
    text-align: center;
}

.titulo span {
    font-size: 2rem;
}

.contenedor {
    background-color: rgba(29, 41, 42, 0.664);
    max-width: 160rem;
    margin: 0 auto;
    margin-bottom: 2rem;
}




.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    border-radius: .5rem;
    width: 60%;
    text-align: center;
    border: none;
}

@media (min-width: 480px){
    .boton {
        width: auto;
    }
}

.boton:hover {
    cursor: pointer;
    box-shadow: 0px 0px 17px -1px rgba(0,196,227,0.21);
    -webkit-box-shadow: 0px 0px 17px -1px rgba(0,196,227,0.21);
    -moz-box-shadow: 0px 0px 17px -1px rgba(0,196,227,0.21);
    padding: 1rem 3rem;
    border-radius: .5rem;
    color: var(--primario);
    
}

.sombra {
    box-shadow: 1px 5px 15px 0px rgba(29,29,29,0.55);
    -webkit-box-shadow: 1px 5px 15px 0px rgba(29,29,29,0.55);
    -moz-box-shadow: 1px 5px 15px 0px rgba(29,29,29,0.55);
    padding: 2rem;
    border-radius: 1rem;
}


.nav-bg {
    background-color: var(--secundario);
}

.main-nav {
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px){
    .main-nav {
        flex-direction: row;
        justify-content: space-between;
    }
}
.main-nav a {
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700px;
    padding: 1rem;
}

.main-nav a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}

.hero {
    background-image: url(../img/schoolimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
}

.contenido-hero {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2 {
    font-size: 5.2rem;
    color: var(--blanco);
}

.contenido-hero p {
    color: var(--blanco);
}

.contenido-hero .ubicacion {
    display: flex;
    align-items: flex-end;
}


@media (min-width: 768px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2.6rem;
    }
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.servicio p {
    line-height: 3.4rem;
    text-align: center;
    font-size: 1.5rem;
}

.servicio .iconos {
    height: 10rem;
    width: 10rem;
    background-color: #FFC107;
    border-radius: 50%;
    /* uno al lado del otro */
    display: flex;
    justify-content: center;
    /* alinear verticalmente: */
    align-items: center;
}




/*decorar formulario-->*/
.formulario {
    background-image: url(../img/ex3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 70%;
    display: block;
    margin: 20px auto;
    border-radius: 1rem;
    width: 75%;
}

.contenido-formulario {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100% ;
    border-radius: 1rem;
    padding: 2rem;
}

.formulario fieldset {
    border: none;
}

.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primario);
}



.campo label {
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}

.campo input,
textarea {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}
/*<--decorar formulario*/


#send:hover {
    box-shadow: 0px 0px 17px -1px rgba(0,196,227,0.21);
    -webkit-box-shadow: 0px 0px 17px -1px rgba(0,196,227,0.21);
    -moz-box-shadow: 0px 0px 17px -1px rgba(0,196,227,0.21);
    padding: 1rem 3rem;
    border-radius: .5rem;
}




footer {
    color: rgba(89, 107, 109, 0.65);
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

